<div
  class="mdl-grid mdl-cell mdl-cell--9-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone mdl-cell--top">
<h3>Drivers</h3>

  <table class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp" style="width: 100%;">

    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric" *ngFor="let item of tableHeader">{{ item }}</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td class="mdl-data-table__cell--non-numeric">{{ item.name }}</td>
        <td class="mdl-data-table__cell--non-numeric">{{ item.code }}</td>

        <td class="mdl-data-table__cell--non-numeric">{{ item.number }}</td>

        <td class="mdl-data-table__cell--non-numeric">
          <span *ngFor="let resp of item.status"
          class="label label--mini"
          [ngClass]="resp.color">{{ resp.name }}</span>
        </td>
      </tr>
    </tbody>
  </table>
  <div style="padding-left: 93%; padding-top: 10px;">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored-sea-blue" style="align-content: ju;">
      Add New
    </button>
  </div>
</div>




<div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone ">

</div>


