<div
  class="mdl-grid mdl-cell mdl-cell--9-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone mdl-cell--top">
  <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
    <base-card>
      <base-card-title>
        <h2 class="mdl-card__title-text">Today</h2>
      </base-card-title>
      <base-card-body>
        <app-country-statistics-chart></app-country-statistics-chart>
      </base-card-body>
    </base-card>
  </div>
  <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
    <base-card>
      <base-card-title>
        <h2 class="mdl-card__title-text">This month</h2>
      </base-card-title>
      <base-card-body>
      <app-country-statistics-chart></app-country-statistics-chart>
      </base-card-body>
    </base-card>
  </div>
  <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
    <app-trending></app-trending>
  </div>

  <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone ">
    <base-card>
      <base-card-title>
        <h2 class="mdl-card__title-text">Current Bookings</h2>
      </base-card-title>
      <base-card-body>
      <app-table-card></app-table-card>
      </base-card-body>
    </base-card>
  </div>
</div>
